.result-c-sharp, .result-java, .result-php, .result-ruby, .result-css-design, .result-anything {
  display: none;
  margin-top: 20px;
}

body {
  background-image: url("../img/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

main {
  background-color: rgba(15, 15, 15, 0.5);
}

.btn-light {
  background-color: rgb(189, 178, 178);
  border: solid 2px red;
  color: red;
}